@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ParthJ Tours and Travel</h1>
    <h6>Travel agents can login and create/update/delete holiday travel packages, ranging from domestic to international trips for people of all ages. Customers can contact the agents through contact information provided. The site will also include travel tips and some more information about their destination. </h6>
    <p>The Tables are made in such a way that the Classes have One to Many Relationships, along with Foreign Key
    and Primary Key.</p>
</div>
