@{
    ViewData["Title"] = "Pack Information";
}
<h1>View our Packages Here!</h1>
<h5>Fell free to Contact us at +1 202 555 0156 or at parthj@parthjtoursandtravel.com to set an appointment</h5>
<main id="content">
    <!--Content has been taken from earthroulette.com, pictures taken from pixabay.com -->
    <h5>We also Deal in Group Trips starting from April 2021</h5>
    <img src="~/website pictures/convent-of-christ.jpg" alt="more info" height="300" width="400">
    <h4>
        5 Nights 6 Days at Tomar Portugal -- Package starts from CA $118.42/day

    </h4>
    <p>Tomar is a small city but holds an important ancient past and some of the most important monuments in Portugal. </p>
    <article>
        Don't Forget to visit

        <ul>
            <li>
                Convent of Christ
                UNESCO World Heritage Site, built in 12th century.
            </li>
            <li>
                Castelo de Tomar
                Castelo de Tomar is a castle in Portugal. It is classified as a National Monument.
            </li>
            <li>
                Synagogue of Tomar
                The best preserved of the medieval synagogues of Portugal.
            </li>
            <li>
                Church of Santa Maria do Olival
                It was built in the second half of the 12th century.
            </li>
            <li>
                Cervejaria do Fernando - serves typical portuguese meals from lunchtime till midnight ~6 €. Open: Tu-Su: 10am-1am, closed on Mondays.
            </li>
            <li>
                Restaurante Baía (são João Batista), +351 249 315 956. Open for lunch and from 17h00 to midnight. Portuguese food mainly meat and fish, vegetarian soup and salads. Inexpensive, big pan of arroz marinero 22 euros for 2 persons.
            </li>
        </ul>
        <p>Good for Families, Couples, Elderly and Children !</p>
    </article>



    <img src="~/website pictures/xalapa-mexico.jpg" alt="more info" height="300" width="400">
    <h4>
        3 Nights 4 Days at Xalapa Mexico -- Package starts from CA $108.42/day

    </h4>
    <p>
        Xalapa is a college town that enjoys some fine colonial architecture as well as a nice climate in the highlands above the hot and humid Veracruz coast. It is a hilly town with a smart population hence it is sometimes considered to be the San Francisco of Mexico. Home to a considerable number of expatriates and foreign exchange students, the town really isn't on the typical backpacker/tourist path through Mexico.
        Known for relax in a park. Recommended places to visit are Museo de Antropología de Xalapa, Parque Juárez and Xalapa Cathedral.
    </p>
    <article>
        Don't Forget to visit

        <ul>
            <li>
                Xalapa Catedral. First constructed in 1641, this cathedral was overhauled in 1896 in a baroque style.
            </li>
            <li>
                Anthropology Museum of Xalapa, Av. Xalapa. Beautifully-designed museum of the cultures of Veracruz. A worthy rival to the more famous archaeological museum in Mexico City.
            </li>
            <li>
                Museo Hacienda El Lencero, Carretera Xalapa-Veracruz Km 10. Occasionally called the Museo de Muebles (Furniture Museum), this country estate 14km (8 3/4 miles) southeast of the town center was for 14 years (1842-56) the home of Antonio López de Santa Anna, the 11-time president of Mexico. Here he retreated from the world, though on occasion he opened his doors to receive notable visitors. Furniture from Mexico, Europe, and Asia fills the rooms, illustrating the cosmopolitan tastes of Mexico's upper classes during the 19th century. Among the notable pieces is the leader's bed, embellished with the national emblem (an eagle holding a serpent in its beak).
            </li>
            <li>
                Juárez Park, Enríquez. It is advisable to visit Juárez Park, next to the town hall. From there you can have a good view of the city, Pico de Orizaba and Cofre de Perote, from the terrace of the musem Ágora. A nice place and reunion site for tourist and locals alike, where also you can enjoy some treats and snacks. and next to the museum of coffee.
            </li>
            <li>
                Botanical Garden Francisco Javier Clavijero, +52 228 842 18 27. Mon-Sun 9:00 - 17:00. The Botanical Garden Francisco Javier Clavijero is an arboretum and botanical garden of 38 total hectares of which 30 are of forest preserved in an old coffee plantation and 8 garden festivals. it has seven public scientific collections in eight hectares. Exhibits some 6,000 specimens belonging to 700 species of plants. Adults 5 pesos, children 2 pesos.
            </li>
        </ul>
        <p>Good for Families, Couples, Elderly and Children !</p>
    </article>

    <img src="~/website pictures/victoria_falls_zimbabwe.jpg" alt="more info" height="300" width="400">
    <h4>
        9-Day Botswana and Victoria Falls Across Africa Safari -- Package starts from CA $99.42/day
        Trending Right Now !! Contact us Now !!
    </h4>
    <p>
        Explore the amazing landscapes and wildlife on show in Botswana and Victoria Falls with this great across Africa safari package. The regions you will visit will be full of adventure, learning and most of all safari.
        This 9 Day - Botswana & Vic Falls Across Africa Safari promises to leave you feeling as if you are taking a part of Africa home with you to cherish and share for years to come.
    </p>
    <article>
        Don't Forget to visit

        <ul>
            <li>
                Makgadikgadi Pans National Park covers an impressive 4900 square kilometer area and is brimming with natural wonders including the largest tree in Africa.
            </li>
            <li>
                Okavango Delta is one of Africa’s most amazing, sensitive and complex environments supporting a spectacle of wilderness and wildlife.
            </li>
            <li>
                The natural wonders of the world, the Victoria Falls is a World Heritage Site and an extremely popular tourism attraction, along with Chobe National Park.
            </li>
            <li>
                Leroo La Tau cultural excursions
            </li>
            <li>
                Included---

                Accommodation (As per Itinerary), All Meals (Breakfast, Lunch, Dinner), Beverages (Refreshments, local spirits and house wines (Excl: Premium Brands)), Scheduled activities (Day and night game drives, Boat activities (dependent on water levels), Optional cultural experience, Guided nature walks), Laundry service, Emergency medical evacuation insurance, National Park fees, Airport departure taxes, All scheduled charter flights between camps, All transfers to and from the lodge airstrips.
            </li>

        </ul>
        <p>Good for Elderly at a Senior Special Discount!</p>
    </article>


    <img src="~/website pictures/Fayetteville.jpg" alt="more info" height="300" width="400">
    <h4>
        4-Day Trip to Fayetteville United States -- Package starts from CA $49.47/day
    </h4>
    <p>
        Known for lunch. Recommended places to visit are Arkansas Air & Military Museum, Walton Arts Center and Chi Omega Greek Theatre.

        Fayetteville is in the Ozarks and the Ozarks Region of Arkansas.

        It is home for the main campus of the University of Arkansas, and has many characteristics of a college town, including many bars, restaurants and specialty stores. It serves as a regional hub for live music and performances, with several venues. Fayetteville is also part of the booming Fayetteville-Springdale-Rogers-Bentonville metropolitan area in Northwest Arkansas, and has experienced dramatic growth since the 1990s.

        Fayetteville's core area of interest centers around the historic downtown square and Dickson Street, which runs between Highway 71B (also known as College Avenue) and the University of Arkansas campus, and is the "main drag" for restaurants and bars. This area can be flooded with people during the very popular Razorbacks college sports games, or during a number of festivals, the biggest of which is the Bikes, Blues, and BBQ Festival. This downtown area, along with the UofA campus and a few historic neighborhoods on either side, is quite walkable. The rest of town, including several strip-mall shopping districts that extend along the highway and residential neighborhoods, is less accessible except by car; bus service is available, but is limited.
    </p>
    <article>
        Don't Forget to visit

        <ul>
            <li>
                Devil's Den State Park, 11333 West Arkansas Highway 74, +1 479 761-3325. Enjoy hiking, backpacking and mountain bike trails that lead to backcountry areas of Devil's Den State Park and the surrounding Ozark National Forest. Sixteen fully-equipped cabins featuring kitchens and fireplaces are available throughout the year. The wood-burning fireplaces are available for use from mid-September thru mid-May. A park cafe and swimming pool (both open in summer only) overlook the lake. Groceries, gifts and snacks can be purchased at the park store. Also in the park are 144 campsites, a group camp, standard pavilion, and mountain bike trails.
            </li>
            <li>
                Mt. Sequoyah Conference and Retreat Center, 150 NW Skyline Dr. An amazing view of all of Fayetteville.
            </li>
            Headquarters House Museum Located at 118 E. Dickson, built in 1853 the house served as headquarters for both Confederate and Federal troops at various times during the civil war. The Battle of Fayetteville was fought on the grounds and across the street on April 18, 1863. office and bookstore, Mon. 10AM-noon, Thurs. 10AM-4PM, Sat 10AM-noon, Living history tours by appointment. Battle of Fayetteville reenactment/Ice cream social third Saturday in August.
            <li>
                Dickson Street Visit this high-energy 'bar row' home to various bars, nightclubs, and eateries. Specialty stops and jaw-dropping jewelry stores will catch your eye as you traverse up and down the area.
            <li>
                Arkansas Razorback sporting events Home to the Razorbacks, Fayetteville has a sporting event nearly every weekend during the academic year. Sporting schedules can be found on . Men's and women's athletics are nationally competitive, fun to watch, and are usually reasonably priced. Make sure to wear red! Parking on campus can be tight for football or basketball, but not impossible, and certainly attainable for all other sports, including first-class track events, gymnastics, baseball, and more.
            </li>
            <li>
                Bikes, Blues, and BBQ Festival. Annual event held (mostly) on Dickson Street. Parades, music, shows, and more.
            </li>
            <li>
                Arsaga's, Gregg and Township; Crossroads Village Center, Highways 265 & 45; 401 East Mountain at the Fayetteville Public Library; University of Arkansas Law Library. Local, independent friendly coffeeshops serving drinks, pastries, good soups and sandwiches. The Gregg & Township location includes comfortable couches, game boards, and quirky restrooms with blackboards and chalk. Free wifi. Live music and/or displays by local artists at some locations.
            </li>
            <li>
                AQ Chicken, +1 479 443-7555. M-Tu 11AM-9PM, F-Sa 11AM-9:30PM. Su 11AM-8:30PM. There are two locations on highway 71B, one in Fayetteville and one in Springdale. This is a full service restaurant specializing in fried, grilled, bbq'd, and roasted chicken in addition to catfish and ribs. AQ Chicken is a long-standing institution in the area for southern fried chicken, and has a few branches called AQ Express.
            </li>
            <li>
                Bangkok Cuisine, 311 West Dickson, Downtown/Dickson Street, +1 479 527-9531. Authentic and unique Oriental dishes served in an a unique setting.
            </li>
        </ul>
        <p>Good for Students at a Student Special Discount!</p>
    </article>


    <img src="~/website pictures/porto seguro.jpg" alt="more info" height="300" width="400">
    <h4>
        7-Day Trip at Porto Seguro Brazil -- Package starts from CA $88.41/day
    </h4>
    <p>
        Known for beaches. Recommended places to visit are Arraial d'Ajuda, Memorial da Epopéia do Descobrimento and Porto Seguro.
        Porto Seguro is in the southern part of the Brazilian state of Bahia. The region possesses amazing beaches and preserved areas of Mata Atlântica, an original tropical jungle found by the Portuguese discoverers in the year 1500.
    </p>
    <article>
        Don't Forget to visit
        <ul>
            <li>
                Replica of Pedro Alvares Cabral's Ship You can walk there from down town. It's North of down town on the beach. If it's closed, you can see all you really need to see from the beach.
            </li>
            <li>
                Historic City - Up the hill near the bus station is a historic area that has some of the first houses and churches the Portuguese built in Brazil. There are local "guides" that stand at the top of the stairs and give decent tours of the historic city but it's tough to find one who speaks English.
            </li>
            <li>
                Recife de Fora - This is a very popular tour. During low tide, the tour guides will take you out to the reef so you can see the sea life in the reef. Be aware that in the tour they have you stand on the reef which kills the reef. This tour is not recommended because by taking the tour, you are contributing to the destruction of the reef.
            </li>
            <li>
                Reserva Pataxó da Jaqueira, +55 73 3288-1256. About 9 km north of downtown, between the Barramares beach club and the town of Coroa Vermelha. Very rough, unpaved 2 km access road. This is an area of 827 hectares (2,044 acres) where you can see how the indigenous Pataxó Indians live. You'll walk through the reserve and stop about a dozen times as the guide explains the immediate surroundings (crops, hunting, cooking, fishing, bedding, etc.) A Pataxó dance may be preformed before or afterwards, and sometimes they have face painting for kids. Wear comfortable footwear, and if possible, bring an interpreter if you don't understand elementary academic Portuguese (names of common plants, animals, etc.) Closed Sundays, and there's minimal activity at lunch time. Per person admission fee (under 9 free), and Indian-made crafts are also for sale. Allow 3 to 4 hours, though the actual hike around the reservation only last about a hour or so, and anyone in good physical condition won't find it too strenuous. Rs 35 (adult); Rs 18 (children over 9 yrs.).
            </li>
            <li>
                Arraial d’Ajuda Eco Parque - This water park is across the river from Porto Seguro in Arraial d'Ajuda. Be sure to check the operating hours before you take a trip across the river. On the off season, they are not open every day.
            </li>
            <li>
                Praia do Espelho - Curuípe has one of the best rated beaches in all of the country. Don't forget to stop at the indigenous village and see the sloths on the way.
            </li>
            <li>
                Porto Seguro's nightlife is one of the most popular attractions for young people.
            </li>

        </ul>
        <p>Good for Families and Couples !</p>
    </article>



</main>
