<h1>View our Packages Here!</h1>
<h5>Fell free to Contact us at +1 202 555 0156 or at parthj@parthjtoursandtravel.com to set an appointment</h5>
<main id="content">
    <!--Content has been taken from earthroulette.com, pictures taken from pixabay.com -->
    <h5>We also Deal in Group Trips starting from April 2021</h5>
    <img src="~/website pictures/convent-of-christ.jpg" alt="more info" height="300" width="400">
    <h4>
        5 Nights 6 Days at Tomar Portugal -- Package starts from CA $118.42/day

    </h4>
    <p>Tomar is a small city but holds an important ancient past and some of the most important monuments in Portugal. </p>
    <article>
        Don't Forget to visit

        <ul>
            <li>
                Convent of Christ
                UNESCO World Heritage Site, built in 12th century.
            </li>
            <li>
                Castelo de Tomar
                Castelo de Tomar is a castle in Portugal. It is classified as a National Monument.
            </li>
            <li>
                Synagogue of Tomar
                The best preserved of the medieval synagogues of Portugal.
            </li>
            <li>
                Church of Santa Maria do Olival
                It was built in the second half of the 12th century.
            </li>
            <li>
                Cervejaria do Fernando - serves typical portuguese meals from lunchtime till midnight ~6 €. Open: Tu-Su: 10am-1am, closed on Mondays.
            </li>
            <li>
                Restaurante Baía (são João Batista), +351 249 315 956. Open for lunch and from 17h00 to midnight. Portuguese food mainly meat and fish, vegetarian soup and salads. Inexpensive, big pan of arroz marinero 22 euros for 2 persons.
            </li>
        </ul>
        <p>Good for Families, Couples, Elderly and Children !</p>
    </article>



    <img src="~/website pictures/xalapa-mexico.jpg" alt="more info" height="300" width="400">
    <h4>
        3 Nights 4 Days at Xalapa Mexico -- Package starts from CA $108.42/day

    </h4>
    <p>
        Xalapa is a college town that enjoys some fine colonial architecture as well as a nice climate in the highlands above the hot and humid Veracruz coast. It is a hilly town with a smart population hence it is sometimes considered to be the San Francisco of Mexico. Home to a considerable number of expatriates and foreign exchange students, the town really isn't on the typical backpacker/tourist path through Mexico.
        Known for relax in a park. Recommended places to visit are Museo de Antropología de Xalapa, Parque Juárez and Xalapa Cathedral.
    </p>
    <article>
        Don't Forget to visit

        <ul>
            <li>
                Xalapa Catedral. First constructed in 1641, this cathedral was overhauled in 1896 in a baroque style.
            </li>
            <li>
                Anthropology Museum of Xalapa, Av. Xalapa. Beautifully-designed museum of the cultures of Veracruz. A worthy rival to the more famous archaeological museum in Mexico City.
            </li>
            <li>
                Museo Hacienda El Lencero, Carretera Xalapa-Veracruz Km 10. Occasionally called the Museo de Muebles (Furniture Museum), this country estate 14km (8 3/4 miles) southeast of the town center was for 14 years (1842-56) the home of Antonio López de Santa Anna, the 11-time president of Mexico. Here he retreated from the world, though on occasion he opened his doors to receive notable visitors. Furniture from Mexico, Europe, and Asia fills the rooms, illustrating the cosmopolitan tastes of Mexico's upper classes during the 19th century. Among the notable pieces is the leader's bed, embellished with the national emblem (an eagle holding a serpent in its beak).
            </li>
            <li>
                Juárez Park, Enríquez. It is advisable to visit Juárez Park, next to the town hall. From there you can have a good view of the city, Pico de Orizaba and Cofre de Perote, from the terrace of the musem Ágora. A nice place and reunion site for tourist and locals alike, where also you can enjoy some treats and snacks. and next to the museum of coffee.
            </li>
            <li>
                Botanical Garden Francisco Javier Clavijero, +52 228 842 18 27. Mon-Sun 9:00 - 17:00. The Botanical Garden Francisco Javier Clavijero is an arboretum and botanical garden of 38 total hectares of which 30 are of forest preserved in an old coffee plantation and 8 garden festivals. it has seven public scientific collections in eight hectares. Exhibits some 6,000 specimens belonging to 700 species of plants. Adults 5 pesos, children 2 pesos.
            </li>
        </ul>
        <p>Good for Families, Couples, Elderly and Children !</p>
    </article>

    <img src="~/website pictures/victoria_falls_zimbabwe.jpg" alt="more info" height="300" width="400">
    <h4>
        9-Day Botswana and Victoria Falls Across Africa Safari -- Package starts from CA $99.42/day
        Trending Right Now !! Contact us Now !!
    </h4>
    <p>
        Explore the amazing landscapes and wildlife on show in Botswana and Victoria Falls with this great across Africa safari package. The regions you will visit will be full of adventure, learning and most of all safari.
        This 9 Day - Botswana & Vic Falls Across Africa Safari promises to leave you feeling as if you are taking a part of Africa home with you to cherish and share for years to come.
    </p>
    <article>
        Don't Forget to visit

        <ul>
            <li>
                Makgadikgadi Pans National Park covers an impressive 4900 square kilometer area and is brimming with natural wonders including the largest tree in Africa.
            </li>
            <li>
                Okavango Delta is one of Africa’s most amazing, sensitive and complex environments supporting a spectacle of wilderness and wildlife.
            </li>
            <li>
                The natural wonders of the world, the Victoria Falls is a World Heritage Site and an extremely popular tourism attraction, along with Chobe National Park.
            </li>
            <li>
                Leroo La Tau cultural excursions
            </li>
            <li>
                Included---

                Accommodation (As per Itinerary), All Meals (Breakfast, Lunch, Dinner), Beverages (Refreshments, local spirits and house wines (Excl: Premium Brands)), Scheduled activities (Day and night game drives, Boat activities (dependent on water levels), Optional cultural experience, Guided nature walks), Laundry service, Emergency medical evacuation insurance, National Park fees, Airport departure taxes, All scheduled charter flights between camps, All transfers to and from the lodge airstrips.
            </li>
           
        </ul>
        <p>Good for Elderly at a Senior Special Discount!</p>
    </article>






</main>
