@{
    ViewData["Title"] = "Travel Tips";
}
<h1>Travel Tips from Tours and Travel</h1>
<img src="~/website pictures/travel tip.jpg" alt="travel tips" class="center" height="300" width="479">

<ol list-style-type="number">
    <li>Pack, Research and Plan appropriately</li>
    <li>Watch your luggage weight !</li>
    <li>To-do List is your best friend when trvaelling and planning ahead. We Recommend <a href="https://trello.com/en">Trello</a> to help you make plans.</li>
    <li>Take Good Rest and Stay Safe and Hydrated.</li>
    <li>If you’re arriving at your destination while its nighttime there, try to stay awake for a few hours before you land.</li>
    <li>Make sure you keep your Travel Documents, Passport, IDs, PPE Kits Handy</li>
    <li>Try Learning some Basic Words in the Language of your destination country/place</li>
    <li>Wash your hands often or use hand sanitizer (with at least 60% alcohol).</li>
    <li>Keep a <a href="https://www.amazon.ca/Language-Translator-Devices/s?k=Language+Translator+Devices">Translation Tool</a> and a Currency Converter whenever required.</li>
</ol>

